.charts-row {
    display: flex;
    justify-content: space-around;  /* Space charts evenly */
    flex-wrap: wrap;  /* Wrap to next line if screen is too small */
    margin-bottom: 30px;
}

.chart-item {
    flex: 1;  /* Allow each chart to grow equally */
    min-width: 300px;  /* Prevent charts from shrinking too much */
    text-align: center;
}

.charts-container {
    display: block !important;
    visibility: visible !important;
}

canvas {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.custom-button {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px !important;  /* Ensure margin is applied */
    cursor: pointer;
    border-radius: 4px;
}

.custom-button:hover {
    background-color: #45a049; /* Darker green */
}

.custom-button-facture {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px !important;  /* Ensure margin is applied */
    cursor: pointer;
    border-radius: 4px;
}

.custom-button-facture:hover {
    background-color: #45a049; /* Darker green */
}

.scrollable-list {
    max-height: 400px; /* Adjust the height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Disable horizontal scrolling */
}