.custom-button {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px !important;  /* Ensure margin is applied */
    cursor: pointer;
    border-radius: 4px;
}

.custom-button:hover {
    background-color: #45a049; /* Darker green */
}

.charts-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.chart-wrapper {
    flex: 1;
    min-width: 45%;
    margin: 10px;
}

.chart-wrapper h4 {
    text-align: center;
}

#chart_div_electricite, #chart_div_eau {
    width: 100%;
    height: 400px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .custom-button {
        font-size: 14px;
        padding: 8px 16px;
    }

    .chart-wrapper {
        min-width: 100%;
    }

    #chart_div_electricite, #chart_div_eau {
        height: 300px;
    }
}

@media (max-width: 480px) {
    .custom-button {
        font-size: 12px;
        padding: 6px 12px;
    }

    .chart-wrapper h4 {
        font-size: 16px;
    }

    #chart_div_electricite, #chart_div_eau {
        height: 250px;
    }
}