{% extends "base.html" %}

{% block title %}Consommation{% endblock %}

{% block content %}
<h1>Consommation</h1>

<!-- Conteneur pour le graphique de consommation -->
<div id="chart_div" style="width: 900px; height: 500px;"></div>

<!-- Conteneur pour le pie chart -->
<div id="piechart" style="width: 900px; height: 500px;"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawCharts);

    function drawCharts() {
        drawConsumptionChart();
        drawPieChart();
    }

    function drawConsumptionChart() {
        var data = google.visualization.arrayToDataTable({{ chart_data | safe }});

        var options = {
            title: 'Consommation',
            curveType: 'function',
            legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

        chart.draw(data, options);
    }

    function drawPieChart() {
        var data = google.visualization.arrayToDataTable({{ chart_data | safe }});

        var options = {
            is3D: true,
            title: 'Répartition des Factures',
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
    }
</script>
{% endblock %}