{% extends "base.html" %}

{% block title %}Consommation{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='css/consommation.css') }}">
{% endblock %}

{% block content %}
<h1>Consommation</h1>

<!-- Hidden elements to pass data to JavaScript -->
<div id="internetData" style="display:none;">{{ internet_data | tojson }}</div>
<div id="electriciteData" style="display:none;">{{ electricite_data | tojson }}</div>
<div id="eauData" style="display:none;">{{ eau_data | tojson }}</div>
<div id="chartData" style="display:none;">{{ chart_data | tojson }}</div>

<!-- Conteneur pour le graphique de consommation d'internet -->
<h2>Internet Consumption</h2>
<canvas id="internetChart" width="450" height="250"></canvas>

<!-- Conteneur pour le graphique de consommation d'électricité -->
<h2>Electricity Consumption</h2>
<canvas id="electricityChart" width="450" height="250"></canvas>

<!-- Conteneur pour le graphique de consommation d'eau -->
<h2>Water Consumption</h2>
<canvas id="waterChart" width="450" height="250"></canvas>

<!-- Conteneur pour le pie chart -->
<h2>Distribution of Factures</h2>
<canvas id="facturePieChart" width="450" height="250"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', path='js/consommation.js') }}"></script>
{% endblock %}