{% extends "base.html" %}

{% block title %}État des Capteurs/Actionneurs{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='css/etat.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Choisissez un Logement</h2>
    <div class="logement-selection">
        {% for logement in logements %}
        <button class="btn custom-button" data-logement-id="{{ logement.id_logement }}">
            {{ logement.adresse }}
        </button>
        {% endfor %}
    </div>

    <div class="table-wrapper">
        <table class="responsive-table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Type</th>
                    <th>Port</th>
                    <th>Dernière Mesure</th>
                    <th>État</th>
                </tr>
            </thead>
            <tbody id="capteurTableBody">
                <!-- Capteurs will be dynamically added here -->
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', path='js/etat.js') }}"></script>
{% endblock %}
